body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: linear-gradient(360deg, black, transparent);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  margin: 3px 0;
  filter: drop-shadow(1px 2px 3px black);
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* CSS for individual time-lines */

.row div {
  border: 1px solid black;
}

.main-row {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.input {
  border: none;
  outline: none;
  height: 65%;
  width: 100%;
  margin: 0;
  white-space: nowrap;
}

.save-icon {
  height: 30px;
  width: 30px;
}

.save-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00c6ff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  opacity: .8;
}

.save-box:hover {
  opacity: 1;
}

.time-stamp {
  margin: 0;
  text-align: center;
}

.time-box {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clear-container {
  display: flex;
  justify-content: center;
}

#clear-button {
  padding: 15px 30px;
  margin: 3px 0px 15px 0px;
  background-color: #0001ae;
  color: white;
  border: black 1px solid;
  font-size: 20px;
  border-radius: 15px;
}

@media (max-width: 380px) {
  .display-3 {
    font-size: 50px;
  }
}